.boton-amarillo {
    @include boton($azulOscuro, inline-block);
}

.boton-amarillo-block {
    @include boton($azulOscuro, block);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; 
}

.boton-verde {
    @include boton($azul, block);
}

.boton-azul {
    @include boton($azul, block);
    border: none;
}

.boton-rojo-block {
    @include boton($alerta, block);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
