.dark-mode {
    background-color: $negro;
    
    p {
        color: $blanco;
    }

    a, h1, h2, h3, h4 {
        color: $gris;
    }

    .anuncio {
        background-color: lighten($negro, 10);

        .precio {
            color: $gris;
        }
    }

    .header, .footer {
        background-color: darken($negro, 4);
    }

    .icono-departamento {
        filter: invert(1);
    }

    .texto-nosotros blockquote {
        color: $azul;
    }

    .formulario {
        label, legend, p {
            color: $gris;
        }

        input:not([type="submit"]), textarea, select {
            background-color: lighten($negro, 10);
            border-color: darken($negro, 5);
            color: $blanco;
        }
    }

}