@include tablet {
    .contenedor-anuncios {
        @include grid(3, 2rem);
    }
}

.anuncio {
    background-color: lighten($color: $gris, $amount: 3);
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

    img {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }

    .contenido-anuncio {
        padding: 2rem;
    }

    h3, p {
        margin: 0;
    }

    p {
        font-size: 1.8rem;
        text-align: justify;
    }

    .precio {
        color: $azul;
        font-weight: $bold;
        font-size: 2.8rem;
        text-align: center;
    }

}

.iconos-caracteristicas {

    display: flex;
    list-style: none;
    padding: 0;

    li {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            flex: 0 0 5rem;
            margin-right: 1rem;
        }

        p {
            font-weight: $black;
    }
}

}
